*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --backgColorWhite: white;
  --backgColorBody: #c4def7;
  --fontFamily: "Vazirmatn", sans-serif;
  --borderRadius24: 24px;
  --borderRadius6: 6px;
}

.container {
  max-width: 1124px !important;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
body {
  font-family: var(--fontFamily);
  background: var(--backgColorBody);
}
ul {
  padding-inline-start: 0px;
}
header {
  display: flex;
  align-items: center;
  height: 5vh;
  margin-left: 5px;
  font-size: 1rem;
}
header i {
  color: #ffffff;
}
main {
  height: 95vh;
  width: 100%;

  display: grid;
  grid-template-areas:
    "W G G T"
    "W B B T"
    "0 0 0 T"
    "0 0 0 T";

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 16px;
}
.backgroundWhite {
  background: var(--backgColorWhite);
  border-radius: 15px;
}
/* -------------------------------------  جستوجو گوگل */
.search-google {
  grid-area: G;
  background-color: var(--backgColorWhite);
  border-radius: var(--borderRadius24);
  padding-bottom: 20px;
  padding-top: 20px;
  max-height: 100px;
  text-align: center;
}
.barname {
  grid-area: B;
  margin-top: 4px;
}
.search-google div {
  background-color: rgba(144, 148, 151, 0.63);
  border-radius: 20px;
  padding: 5px;
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.search-google div i {
  color: #094d9a;
}
.search-google div input {
  border-radius: var(--borderRadius24);
  text-align: right;
  border: none;
  background-color: transparent;
  width: 80%;
  font-family: var(--fontFamily);
}
.search-logo {
  display: flex;
  align-items: center;
}
.search-logo i {
  padding: 2px 15px;
  background-color: darkslateblue;
  border-radius: var(--borderRadius24);
}
.barname-karbordi {
  margin-top: 8px;
}
.barname-karbordi ul {
  display: grid;
  row-gap: 8px;
  coluumns-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  direction: rtl;
  justify-items: center;
}
.barname-karbordi ul li {
  background-color: var(--backgColorWhite);
  border-radius: var(--borderRadius6);
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
i:hover {
  cursor: pointer;
}
.btn-weather {
  border-radius: var(--borderRadius6);
}
/*      -------------------------------------  TO do list  */
.addBtn button {
  font-family: var(--fontFamily);
  padding: 5px;
  padding-right: 0px;
  width: 18%;
  color: gray;
  background-color: var(--backgColorWhite);
  float: left;
  text-align: left;
  font-size: 0.8rem;
  cursor: pointer;
  border-right: none;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-width: 2px;
  border-color: gray;
}
.write-task form input {
  font-family: var(--fontFamily);

  margin: 0;
  width: 80%;
  padding: 5px;
  padding-left: 0px;
  float: left;
  font-size: 0.8rem;
  text-align: right;
  margin: 10px 0px 10px 0px;
  border-radius: var(--borderRadius6);
  border-color: gray;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  border-width: 2px;
}
.borderTodo {
  grid-area: T;
  border-radius: var(--borderRadius24);
  margin: 4px;
}
.toDo {
  display: grid;
  grid-template-rows: 5% 85% 10%;

  margin: 4px;
  height: 100%;
}
.toDo h2 {
  border-bottom: solid 1px gray;
  text-align: right;
  padding-right: 5px;
  font: 1.5rem bold var(--fontFamily);
}

.task-txt {
  font-size: 1rem;
  margin-right: 3px;
  width: 70%;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
}
.task {
  border: solid 1px gray;
  padding-top: 5px;
  padding-bottom: 4px;
  border-radius: 4px;
  margin: 5px;
  text-align: right;
  direction: rtl;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.task span:first-child {
  margin-right: 3px;
  display: flex;
  align-items: center;
}
.edit-trash {
  visibility: hidden;
}
.task:hover .edit-trash {
  visibility: visible;
}
.task-checkBox {
  width: 1.1rem;
  height: 1.1rem;
}

.list-task {
  display: grid;
  align-self: flex-start;
}
.list-task ul {
  overflow-y: scroll;
}
.write-task {
  border-top: solid 1px gray;
  width: 100%;
  display: flex;
  align-self: end;
  margin-bottom: 8px;
  justify-content: center;
}
.edit-trash i {
  color: #6f6969;
}
/*  ----------------------------------   اب و هوا */
.weatherTime {
  grid-area: W;
  margin: 4px;
}
.weather {
  border-right: solid 1px gray;
}
.weather-time {
  display: grid;
  margin: 2px;
  grid-template-columns: 1fr 1fr;
  border-bottom: #6f6969 solid 1px;
}
.weather section {
  text-align: center;
}
.weather-current {
  color: gray;
  font-size: 1.5rem;
  border-radius: 6px;
  margin: 2px;
}
.weather-maxMin {
  color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
}
.weather-btn {
  border-radius: 6px;
  background-color: var(--backgColorWhite);
  border: solid 1px gray;
  padding: 4px;
  font-family: var(--fontFamily);
  margin: 5px;
}
.time {
  text-align: center;
}
.hour {
  color: #094d9a;
  font-size: 1.5rem;
}
.otherDate {
  display: flex;
  flex-direction: row;
  font-size: 0.3rem;
  margin-top: 5px;
  margin-bottom: 9px;
}
.Date {
  direction: rtl;
}
.Date-islamicHijri {
  direction: rtl;
  margin: 2px auto;
}
#DateMiladi {
  margin: 2px;
}
/* ---------------- media*/
@media (min-width: 870px) and (max-width: 950px) {
  .barname-karbordi ul {
    display: grid;
    row-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    direction: rtl;
    justify-items: center;
  }
  .barname-karbordi ul li {
    background-color: var(--backgColorWhite);
    border-radius: var(--borderRadius6);
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
  }
  main {
    display: grid;
    grid-template-areas:
      "W G G T"
      "W B B T"
      "0 0 0 T";
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .weather-time {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 200px) and (max-width: 871px) {
  main {
    height: 95vh;
    width: 100%;

    display: grid;
    grid-template-areas:
      "G"
      "W"
      "B"
      "T";

    grid-template-columns: 1fr;
    grid-column-gap: 16px;
  }
  .barname-karbordi ul {
    display: grid;
    row-gap: 8px;
    column-gap: 8px;
    grid-template-columns: 1fr 1fr;
    direction: rtl;
    justify-items: center;
  }
  .weather-time {
    grid-template-columns: 1fr 1fr;
  }
}
